@use "./mixins&extends.scss" as *;
@forward "./mixins&extends.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-Regular.ttf") format("truetype")
    url("/src/assets/fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-ExtraBold.ttf") format("truetype")
    url("/src/assets/fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

:root {
  // Variables
  // Colours
  --color-primary-100: hsl(259, 100%, 65%);
  --color-primary-200: hsl(0, 100%, 67%);

  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-200: hsl(0, 0%, 94%);
  --color-neutral-300: hsl(0, 0%, 86%);
  --color-neutral-400: hsl(0, 1%, 44%);
  --color-neutral-500: hsl(0, 0%, 8%);
}

// breakpoints
$md-break: 640px;

*,
*::before,
*::after {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--color-neutral-200);
}
